{% extends '@SyliusAdmin/shared/layout/base.html.twig' %}

{# @var \Setono\SyliusFeedPlugin\Model\FeedInterface feed #}

{% block title %}{{ 'setono_sylius_feed.ui.feed'|trans ~' '~ feed.name }} {{ parent() }}{% endblock %}

{% block body %}
    {% hook 'add_admin.custom' %}
<div class="page-wrapper">
    <div class="ui stackable two column grid">
        <div class="ten wide column">
            {% include '@SetonoSyliusFeedPlugin/Admin/Feed/Show/_header.html.twig' %}
        </div>

        {% set menu = knp_menu_get('setono_sylius_feed.admin.feed.show', [], {'feed': feed}) %}
        {{ knp_menu_render(menu, {'template': '@SyliusUi/Menu/top.html.twig'}) }}
    </div>


    {% include '@SetonoSyliusFeedPlugin/Admin/Feed/Show/_breadcrumb.html.twig' %}

    {% if workflow_has_marked_place(feed, constant('Setono\\SyliusFeedPlugin\\Workflow\\FeedGraph::STATE_READY')) or workflow_has_marked_place(feed, constant('Setono\\SyliusFeedPlugin\\Workflow\\FeedGraph::STATE_PROCESSING')) %}
        <div class="ui segment spaceless">
            <table class="ui basic celled table">
                <thead>
                <tr>
                    <th>{{ 'sylius.ui.channel'|trans }}</th>
                    <th>{{ 'sylius.ui.locale'|trans }}</th>
                    <th>{{ 'setono_sylius_feed.ui.link'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for channel in feed.channels %}
                    {% for locale in channel.locales %}
                        <tr class="item">
                            <td>{{ channel.name }}</td>
                            <td>{{ locale.name }}</td>
                            <td>
                                <div class="ui icon input" style="width: 100%;position: relative;">
                                    <div class="ui pointing below label teal"
                                         style="position:absolute; right: 10px; top: -100%; display: none"
                                         id="link-copied-{{ loop.parent.loop.index }}-{{ loop.index }}">
                                        <i class="check icon"></i> {{ 'setono_sylius_feed.ui.link_copied'|trans }}
                                    </div>
                                    <input id="link-{{ loop.parent.loop.index }}-{{ loop.index }}" type="text"
                                           value="{{ setono_sylius_feed_generate_feed_url(feed, channel, locale) }}"
                                           readonly>
                                    <i class="copy link icon" data-link-id="link-{{ loop.parent.loop.index }}-{{ loop.index }}"
                                       data-link-copied-id="link-copied-{{ loop.parent.loop.index }}-{{ loop.index }}"
                                       data-content="{{ 'setono_sylius_feed.ui.click_to_copy'|trans }}"
                                       data-position="top right"></i>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <div class="ui segment">
            <div class="ui info message">
                <div class="header">
                    {{ 'setono_sylius_feed.ui.unprocessed_feed_header'|trans }}
                </div>
                <p>{{ 'setono_sylius_feed.ui.unprocessed_feed_body'|trans }}</p>
            </div>
        </div>
    {% endif %}
    {% if feed.violations|length > 0 %}
        <h2 class="ui header">{{ 'setono_sylius_feed.ui.violation_summary'|trans }}</h2>

        <p>{{ 'setono_sylius_feed.ui.view_all_violations'|trans({'%path%' : path('setono_sylius_feed_admin_feed_violations_index', {'id' : feed.id})})|raw }}</p>

        {{ render(controller('setono_sylius_feed.controller.action.admin.severity_count', {'feed': feed.id})) }}
    {% endif %}
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $('[data-content]').popup();

        let timers = {};

        $('i.copy').on('click', function () {
            const linkId = $(this).data('link-id');
            const linkCopiedId = $(this).data('link-copied-id');

            const link = $('#' + linkId).get(0);
            const $linkCopied = $('#' + linkCopiedId);

            link.select();
            link.setSelectionRange(0, 9999);

            document.execCommand('copy');

            $linkCopied.show();

            clearTimeout(timers[linkId]);
            timers[linkId] = setTimeout(function () {
                $linkCopied.hide();
            }, 3000);
        });
    </script>
{% endblock %}
