{# @var item \Setono\SyliusFeedPlugin\Feed\Model\Google\Shopping\Product #}
<item>
    <g:id>{{ item.id }}</g:id>
    <title>{{ item.title }}</title>
    <g:description>{{ item.description }}</g:description>
    <link>{{ item.link }}</link>
    <g:image_link>{{ item.imageLink }}</g:image_link>
    <g:availability>{{ item.availability }}</g:availability>
</item>
