{# @var item \Setono\SyliusFeedPlugin\Feed\Model\Google\Shopping\Product #}
<item>
{% apply spaceless %}
{% apply setono_sylius_feed_remove_empty_tags %}
    <g:id><![CDATA[{{ item.id|e }}]]></g:id>
    <title><![CDATA[{{ item.title|e }}]]></title>
    <g:description><![CDATA[{{ item.description|e }}]]></g:description>
    <link><![CDATA[{{ item.link|e }}]]></link>
    <g:image_link><![CDATA[{{ item.imageLink|e }}]]></g:image_link>
    {% for additionalImageLink in item.additionalImageLinks %}
        <g:additional_image_link><![CDATA[{{ additionalImageLink|e }}]]></g:additional_image_link>
    {% endfor %}
    <g:availability><![CDATA[{{ item.availability|e }}]]></g:availability>
    <g:price><![CDATA[{{ item.price|e }}]]></g:price>
    <g:sale_price><![CDATA[{{ item.salePrice|e }}]]></g:sale_price>
    <g:sale_price_effective_date><![CDATA[{{ item.salePriceEffectiveDate|e }}]]></g:sale_price_effective_date>
    <g:brand><![CDATA[{{ item.brand|e }}]]></g:brand>
    <g:gtin><![CDATA[{{ item.gtin|e }}]]></g:gtin>
    <g:mpn><![CDATA[{{ item.mpn|e }}]]></g:mpn>
    {% if item.identifierExists is same as(false) %}<g:identifier_exists><![CDATA[false]]></g:identifier_exists>{% endif %}
    <g:condition><![CDATA[{{ item.condition|e }}]]></g:condition>
    <g:item_group_id><![CDATA[{{ item.itemGroupId|e }}]]></g:item_group_id>
    <g:google_product_category><![CDATA[{{ item.googleProductCategory|e }}]]></g:google_product_category>
    <g:product_type><![CDATA[{{ item.productType|e }}]]></g:product_type>
    <g:shipping><![CDATA[{{ item.shipping|e }}]]></g:shipping>
    <g:size><![CDATA[{{ item.size|e }}]]></g:size>
    <g:color><![CDATA[{{ item.color|e }}]]></g:color>
    {% for idx, customLabel in item.customLabels %}
        <g:custom_label_{{ idx }}><![CDATA[{{ customLabel|e }}]]></g:custom_label_{{ idx }}>
    {% endfor %}
{% endapply %}
{% endapply %}
</item>
